:root {
  --header-height: 64px;
  --header-width: 1280px;

  --content-width: 1024px;
  --sides-width: 10px;

  --footer-height: 64px;
  --footer-width: 1280px;

  --bg-color: #eee;
  --text-color: #000;
  --text-soft-color: rgb(50, 50, 50);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --svg-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(30, 30, 30, 1);
    --text-color: #fff;
    --text-soft-color: rgb(200, 200, 200);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --svg-color: #fff;
  }
}

/* defaults */

body {
  font: 1.2rem/1.62 sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

* {
  color: var(--text-color);
}

a {
  text-decoration: underline;
}

svg {
  color: var(--svg-color);
}

/* header */
header {
  height: var(--header-height);
  box-shadow: 0px 0px 8px var(--shadow-color);

  a {
    text-decoration: none;
  }

  a:hover:not(.header-logo) {
    text-decoration: underline;
  }

  .header-logo {
    font-weight: bold;
    font-size: x-large;
  }

  > nav {
    height: 100%;
    max-width: var(--header-width);
    margin: 0 auto;
    padding: 0 var(--sides-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu > li {
    display: inline;
    margin-left: 20px;
  }

  @media (max-width: 512px) {
    height: auto;

    .header-logo {
      font-size: xx-large;
    }

    > nav {
      flex-direction: column;
    }

    .header-menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 10px;
      padding: 0;

      > li {
        margin: 0;
      }
    }
  }
}

/* main */
main {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 32px var(--sides-width) var(--footer-height);

  .title-container {
    margin-bottom: 30px;

    > h1 {
      margin: 0;
      font-size: 2.5rem;
      font-weight: bold;
    }

    > span {
      color: var(--text-soft-color);
      font-style: italic;
    }
  }
}

/* footer */
footer {
  height: calc(var(--footer-height));
  width: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0px 0px 8px var(--shadow-color);

  .footer-container {
    height: calc(var(--footer-height) / 2);
    max-width: var(--footer-width);
    margin: 0 auto;
    padding: calc(var(--footer-height) / 4) var(--sides-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-socials {
    list-style: none;
    display: flex;

    > li {
      display: inline;
      width: calc(var(--footer-height) / 2);
      height: calc(var(--footer-height) / 2);
      margin-left: 20px;
    }
  }
}

/* sections */
.section-list {
  padding: 0;

  > li {
    list-style: none;

    > span {
      display: block;
      font-style: italic;
      color: var(--text-soft-color);
    }
    > a {
      font-size: xx-large;
    }
  }

  > li:not(:last-child) {
    margin-bottom: 30px;
  }
}
